<div class="container text-open-sans-regular">
  <form action="" class="pt-2 mt-2" #cityForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    
    <div class="form-row col-12">
      <div class="form-group col-1 text-open-sans-extra-bold">
        <p>City:</p>
      </div>
      <div class="form-group col-7">
        <input [(ngModel)]="city" name="city" #nameCity="ngModel" type="text" class="form-control" id="inlineFormInput"
          placeholder="Write city" required pattern="[a-zA-Z,-]*">
      </div>
      <div class="form-group col-2 text-open-sans-extra-bold">
        <button [disabled]="nameCity.invalid" type="submit" class="btn btn-success">Add City</button>
      </div>
      <div class="form-group col-2 text-open-sans-extra-bold">
        <button type="reset" class="btn btn-dark">Reset</button>
      </div>
    </div>

    <div class="form-row mt-2 text-open-sans-semi-bold">
      <div class="form-group">
        <div *ngIf="nameCity.invalid && nameCity.touched">
            <ngb-alert type="danger">Please write city only with latin letters!</ngb-alert>
        </div>
      </div>
    </div>

  </form>
</div>

<div *ngFor="let card of weather">
  <app-city-weather-card [data]="card"></app-city-weather-card>
</div>
