<div class="container mt-4 text-open-sans-regular">
    <div class="card text-center">
        <div class="card-header text-open-sans-extra-bold">
            <span>{{ data.request.query }}</span>
        </div>
        <div class="card-body">
            <h5 class="card-title text-open-sans-semi-bold">
                <span>{{ data.current.weather_descriptions[0] }}</span>
                <img [src]="data.current.weather_icons[0]" class="ml-3">
            </h5>
            <p class="card-text">Temperature: {{ data.current.temperature }}C</p>
        </div>
        <div class="card-footer text-muted">
            <span>{{ data.location.localtime }}</span>
        </div>
    </div>
</div>